.main {
  width: 100%;
  background: #ecf0f7;
  overflow: auto;
  height: 100%;
}

.container {
  max-width: 126.4rem;
  height: 100%;
  padding: 4rem 1rem 8rem 1rem;
  margin: 0 auto;
  display: flex;
  gap: 8rem;
  flex-direction: column;
}
